.info-btn {
	display: inline-block;
	width: 21px;
	margin-left: 5px;
	padding-right: 1px;
	line-height: 22px;
	border: 1px solid #1F616A;
	border-radius: 12px;
	font-style: italic;
	text-align: center;
	color: #1F616A;
	cursor: pointer;
}
.custombox-show, .custombox-close {left: 38% !important;}
@-moz-document url-prefix() {
    .custombox-show, .custombox-close {left: 56% !important;}
    /* 3d image (canvas) fix for firefox */
    canvas {
    	width: 1400px !important;
    	margin-top: -100px;
    	margin-left: -500px;
	}
}
.info-btn:hover {border: 1px solid #809b9c;}
.custombox-modal-content {
	width: 540px;
	background: #fff;
	padding: 20px;
	border: 1px solid #767678;
  	-webkit-border-radius: 3px; 
  	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.1);
	overflow: hidden;
}
.col-1-2 {
	float: left;
	width: 49%;
	font-size: 14px;
	color: #737373;
	/*chrome blur text fix*/
	backface-visibility: hidden;
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
}
.col-1-2 img {
	width: 100%;
	height: auto;
}
.col-1-2 h3 {
	position: relative;
	padding-left: 15px;
  	margin-bottom: 40px;
	font-size: 20px;
  	color: #000;
}
.col-1-2 h3:before {
	display: inline-block;
	position: absolute;
	content: "";
	left: -5px;
	width: 14px;
	height: 23px;
	background: transparent url(../img/error.png) -204px -50px;
}
.col-1-2 ol {padding-left: 13px;}
.col-1-2 ol li {
	line-height: 16px;
	margin-bottom: 10px;	
}
.modal-close { 
	position: absolute;
	width: 35px;
	top: -6px;
	right: 0;
	padding-left: 1px;
	background: #396b6c;
	font-size: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}	
.modal-close:hover {
	background: #4C8687;
} 					